.clients {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .container {
    @extend %container;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 30px;
  }
  &__list {
    @extend %list;
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    flex-basis: calc((100% - 30px) / 2);
    margin-bottom: 30px;
  }
  @media screen and (max-width: 767px) {
    &__item:nth-child(odd) {
      margin-right: 30px;
    }
  }
  &__item:nth-last-child(-n + 2) {
    margin-bottom: 0px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &__item {
      flex-basis: calc((100% - 60px) / 3);
      margin-right: 30px;
    }
    &__item:nth-child(3n + 3) {
      margin-right: 0;
    }
    &__item:nth-last-child(-n + 3) {
      margin-bottom: 0px;
    }
  }
  @media screen and (min-width: 1200px) {
    &__title {
      margin-bottom: 50px;
    }
    &__item {
      flex-basis: calc((100% - 150px) / 6);
    }
    &__item:not(:last-child) {
      margin-right: 30px;
      margin-bottom: 0;
    }
  }
  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    border: 1px;
    border-style: solid;
    border-radius: 4px;
    color: var(--clients-icon-color--);
    border-color: var(--logo-border-color--);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__logo:hover,
  &__logo:focus {
    color: var(--accent-color--);
    border-color: var(--accent-color--);
  }
  &__icon {
    width: 106px;
    height: 60px;
    fill: currentColor;
  }
}
