.clients {
  padding-top: 94px;
  padding-bottom: 94px;
  @extend %container;

  &__title {
    margin-top: 0;
    margin-bottom: 50px;
  }
  &__list {
    @extend %list;
    display: flex;
  }
  &__item:not(:last-child) {
    margin-right: 30px;
  }
  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px;
    border-style: solid;
    border-radius: 4px;
    color: var(--clients-icon-color--);
    border-color: var(--logo-border-color--);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__logo:hover,
  &__logo:focus {
    color: var(--accent-color--);
    border-color: var(--accent-color--);
  }
  &__icon {
    width: 106px;
    height: 60px;
    fill: currentColor;
  }
}
