.contact {
  display: flex;
  margin-left: auto;
  @extend %list;

  &__item:not(:last-child) {
    margin-right: 50px;
  }
  &__link {
    font-size: 14px;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__link:hover,
  &__link:focus {
    color: var(--accent-color--);
  }
  &__email-icon {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
  }
  &__phone-icon {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
  }
}
