.features {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--primary-whiter-color--);
  @extend %container;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &__list {
    @extend %list;
  }
  @media screen and (max-width: 1199px) {
    &__item:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    &__list {
      display: flex;
      flex-wrap: wrap;
    }
    &__item {
      flex-basis: calc((100% - 30px) / 2);
      margin-bottom: 30px;
    }

    &__item:nth-child(odd) {
      margin-right: 30px;
    }
    &__item:nth-last-child(-n + 2) {
      margin-bottom: 0px;
    }
  }

  @media screen and (min-width: 1200px) {
    &__item {
      flex-basis: calc((100% - 90px) / 4);
      margin-bottom: 0;
    }
    &__item:not(:last-child) {
      margin-right: 30px;
    }
  }
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    height: 120px;
    width: 100%;
    border-radius: 4px;
    background-color: var(--icon-bg-color--);
  }
  &__title {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--sekond-title-color--);
    @media screen and(max-width: 767px) {
      text-align: center;
    }
  }
  &__text {
    margin: 0;
  }
}
