.footer__socials {
  margin-left: 70px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 12px;
}
.socials__title {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: 0;
  padding: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-whiter-color--);
}
.socials--bottom {
  padding: 0;
  margin: 0;
}
.socials__link--bottom {
  background-color: var(--socials-footer-bg-color--);
  color: var(--primary-whiter-color--);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__icon--bottom {
  fill: var(--primary-whiter-color--);
}
