.form {
  &__title {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--sekond-title-color--);
  }
  &__list {
    @extend %list;
  }
  &__field {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    padding: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 10px;
    margin-left: 0;
  }
  &__input {
    height: 40px;
    padding-left: 42px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 1px solid;
    border-color: var(--sekond-input-border-color--);
    box-sizing: border-box;
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__input:focus {
    border-color: var(--accent-color--);
  }
  &__input:focus + &__label {
    color: var(--accent-color--);
  }
  &__input:focus ~ &__icon {
    fill: var(--accent-color--);
  }
  &__icon {
    position: absolute;
    left: 12px;
    top: 50%;
    display: inline-block;
    width: 18px;
    height: 18px;
  }
  &__label {
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
  }
  &__textarea {
    height: 120px;
    resize: none;
    padding-top: 12px;
    padding-left: 16px;
    border: 1px solid;
    border-color: var(--sekond-input-border-color--);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__textarea:focus {
    border-color: var(--accent-color--);
  }
  &__textarea:focus + &__label {
    color: var(--accent-color--);
  }
  &__textarea::placeholder {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: var(--textarea-placeholder-color--);
  }
  .checkbox {
    margin-bottom: 30px;
    margin-top: 0;
  }
  .checkbox__label {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* .checkbox__input {
  -webkit-appearance: none;
  position: absolute;
} */
  .checkbox__icon {
    display: inline-block;
    margin-right: 7px;
    width: 16px;
    height: 15px;
    border: 2px solid;
    border-color: var(--portfolio-button-color--);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-size 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-origin 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .checkbox__icon:focus {
    background-color: var(--accent-color--);
    background-size: cover;
    background-origin: border-box;
    border-color: transparent;
  }
  .checkbox__input:checked + .checkbox__icon {
    background-color: var(--accent-color--);
    background-size: cover;
    background-origin: border-box;
    border-color: transparent;
  }
  .checkbox__link {
    display: inline-block;
    margin-left: 5px;
    color: var(--accent-color--);
    text-decoration-skip-ink: none;
  }
  &__button {
    @extend %button;
  }
}
