.hero {
  width: 100%;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-color: var(--footer-bg-color--);
  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    white-space: pre-line;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    color: var(--hero-title-color--);

    @media screen and (min-width: 1200px) {
      font-size: 44px;
      line-height: 1.36;
    }
  }
  &__button {
    @extend %button;
    transform: scale(1.15);
  }
}
