.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--footer-bg-color--);

  &__title {
    max-width: 696px;
    margin-top: 0;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    white-space: pre-line;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    color: var(--hero-title-color--);
  }
  &__button {
    @extend %button;
    transform: scale(1.15);
  }
}
