.nav {
  width: 100%;
  display: flex;
  align-items: center;
  @media screen and (max-width: 1199px) {
    justify-content: space-between;
  }

  .logo--black {
    color: var(--logo-part-color--);
  }

  .menu-container {
    width: 100%;
    @media screen and (max-width: 767px) {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 999;
      transform: translateX(100%);
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
      background-color: #ffffff;
    }
    @media screen and (min-width: 768px) {
      margin-left: 83px;
    }
    @media screen and (min-width: 1200px) {
      margin-left: 93px;
    }
  }

  &__list {
    @extend %list;
    @media screen and (max-width: 767px) {
      margin-bottom: 50%;
    }

    @media screen and (min-width: 768px) {
      display: flex;
    }
  }
  @media screen and (min-width: 768px) {
    &__item:not(:last-child) {
      margin-right: 50px;
    }
  }
  &__link {
    display: block;

    padding-bottom: 32px;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;

    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--nav-title-color--);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px) {
      padding-top: 32px;
      font-size: 14px;
      line-height: 1.14;
    }
  }
  &__link:hover,
  &__link:focus {
    color: var(--accent-color--);
  }
  &__current {
    position: relative;
    color: var(--accent-color--);
  }
  @media screen and (min-width: 1200px) {
    &__current::after {
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: var(--accent-color--);
    }
  }
  &__contact {
    padding-top: 32px;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: inherit;

    @media screen and (min-width: 768px) {
      font-size: 12px;
      line-height: 1.17;
      padding: 0;
    }

    @media screen and (min-width: 768px) {
      font-size: 12px;
      line-height: 1.17;
      padding: 0;
    }

    @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: 1.17;
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }
  @media screen and (max-width: 767px) {
    &__contact:hover,
    &__contact:focus {
      font-size: 34px;
      line-height: 1.18;
    }
    .contact__email-icon,
    .contact__phone-icon {
      display: none;
    }
  }
}
.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  fill: var(--accent-color--);
}
.menu-container.is-open {
  transform: translateX(0);
}
.btn__cross {
  display: block;
  margin-left: auto;
  margin-top: 10px;
  margin-right: 15px;
  border-style: none;
  background-color: inherit;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
.btn__cross:hover,
.btn__cross:focus {
  fill: var(--accent-color--);
}
.mobile-menu {
  display: flex;
  height: 100%;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 0;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }

  @media screen and (min-width: 768px) {
    margin-left: auto;
    margin-right: 0;
  }
}
.contact__top {
  @media screen and (max-width: 767px) {
    margin-bottom: 64px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 12px;
    line-height: 1.17;
    margin-left: 80px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    line-height: 1.17;
    margin-left: auto;
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__item:not(:last-child) {
    margin-right: 30px;
  }
}

.nav-socials {
  @extend %list;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0;

  @media screen and (min-width: 768px) {
    display: none;
  }

  &__item:not(:last-child) {
    position: relative;
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }

  &__link {
    display: block;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--accent-color--);
  }
}
