.overlay {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: auto;
  margin-left: auto;
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/img_fon.jpg);
}
